@{
    ViewData["Title"] = "Admin Page";
}

<ul>
    <li><a asp-controller="Roles" asp-action="Index">Roles</a></li>
    <li><a asp-controller="Contributors" asp-action="Index">Contributors</a></li>
</ul>