body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cornflowerblue;
}

.body-content {
    background-color: cornflowerblue;
    color: white;
}

input,
select,
textarea {
    max-width: 280px;
}

.clickable {
    color: #999;
    cursor: pointer;
}

.output {
    padding: 5%;
    margin: auto;
    background-color: white;
    width: 75%;
    border: 1px solid #96b7f2;
    border-radius: 2%; 
}

.main-content {
    width: 100%;
    max-width: 766px;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    min-height: 100vh;
    color: black;
}

.article-tile {
    padding: 0 8% 8% 8%;
}

.byline-image {
    display: inline;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.byline {
    padding: 10px 0;
}

.navbar-custom {
    background-color: darkblue;
    color: cornflowerblue;
}


