
@{
    Layout = "_RoleLayout";
}

@foreach (var s in Model)
{
    <div>
        @s.ToString() | <span onclick="return confirm('are you sure you delete you?')">
            <a href="/Roles/DeleteRole?RoleName=@s.ToString()">Delete</a> 
        </span> | <a href="/Roles/EditRole?RoleName=@s.ToString()">Edit</a>
    </div>
}