@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/diogenes.jpg" alt="" class="img-responsive" />

<ul>
    <li><a asp-controller="Roles" asp-action="Index">Roles</a></li>
    <li><a asp-controller="Writers" asp-action="Index">Writers</a></li>
</ul>
