@{
    ViewData["Title"] = "Staff Portal";
}

<script type="text/javascript">
    $(document).ready(function () {

        //Create Contributor
        $('.create-contributor-button').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateContributor", "Contributors")',
                success: function (result) {
                    $('.create-contributor-output').html(result);
                }
            });
        });//create contributor end
        //Edit Profile
        $('.edit-profile-button').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("EditProfile", "Contributors")',
                success: function (result) {
                    $('.edit-profile-output').html(result);
                }
            });
        }); //edit profile end
        //Submit Article
        $('.submit-article-button').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateArticle", "Articles")',
                success: function (result) {
                    $('.submit-article-output').html(result);
                }
            });
        }); //edit profile end

    }); //document.ready end
</script>

    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-controller="Roles" asp-action="Index">Manage Roles</a>
        </div>
    }
    @if (User.IsInRole("Editor in chief"))
    {
        <div>
            <a asp-controller="Contributors" asp-action="Index">Manage Contributors</a>
            @*<a asp-controller="Contributors" asp-action="CreateContributor">Add New Contributor</a>*@
            <div class="create-contributor-button">Add Contributor</div>
            <div class="create-contributor-output"></div>
        </div>
    }
    @if (User.IsInRole("Editor in chief") || User.IsInRole("Editor"))
    {
        <div>
            <p>Manage Articles</p>
        </div>
    }
    @if (User.IsInRole("Editor in chief") || User.IsInRole("Editor") || User.IsInRole("Writer"))
    {
        <div>
            @*<a asp-controller="Contributors" asp-action="EditProfile">Edit My Profile</a>*@
            <div class="edit-profile-button">Edit My Profile</div>
            <div class="edit-profile-output"></div>
            
            <p>Manage My Articles</p>

            @*<a asp-controller="Articles" asp-action="CreateArticle">Submit Article</a>*@
            <div class="submit-article-button">Submit Article</div>
            <div class="submit-article-output"></div>
        </div>
    }

