﻿@{
    ViewData["Title"] = "Contributor Index";
}
@model IEnumerable<PhilosopherPeasant.Models.Contributor>

@if(Model.Count()==0)
{
    <h2>No Contributors Added Yet.</h2>
}

@foreach (var contributor in Model)
{
    <p>@Html.DisplayFor(modelItem => contributor.Name)</p>

    <p>
        @Html.ActionLink("Edit", "EditContributor", new { id = contributor.ContributorId }) |
        @using (Html.BeginForm("DeleteContributor", "Contributors", new { id = contributor.ContributorId }))
        {
            <input type="submit" value="Delete" />
        }
    </p>
    @Html.ActionLink("Back", "Portal", "Home")
}
