@using System.Security.Claims

<div class="nav-login">
@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post">
        <div class="list-inline text-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">@User.GetUserName()</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link">Log off</button>
            </li>
        </div>
    </form>
}
else
{
    <div class="list-inline text-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </div>
}
</div>

