﻿@{
    ViewData["Title"] = "";
}
@model PhilosopherPeasant.Models.Article
<h2>Create Article</h2>


@using (Html.BeginForm())
{
    <p>
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "Title" } })
    </p>
    <p>
        @Html.EditorFor(model => model.Abstract, new { htmlAttributes = new { placeholder = "Abstract" } })
    </p>
    <p>
        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { placeholder = "Body" } })
    </p>

    <input type="submit" value="Submit Article" />
}

@Html.ActionLink("Back", "Portal", "Home")
