@model PhilosopherPeasant.Models.Article

@{
    ViewData["Title"] = "Philosopher Peasant";
}


<div>
    <h2>@Model.Title</h2>
    <p>@Model.PublishDate</p>
    <p>@Html.Raw(Model.Body)</p>
    <p>@Model.Contributor.Name</p>
</div>
