﻿@{
    ViewData["Title"] = "Articles Index";
}

@model ICollection<PhilosopherPeasant.Models.Article>

@foreach (var article in Model)
{
    <p>@Html.DisplayFor(m => article.Title)</p>
    <p>@Html.DisplayFor(m => article.Contributor.Name)</p>
    <p>@Html.DisplayFor(m => article.SubmitDate)</p>

    <p>@Html.ActionLink("Edit", "EditArticle", new { id = article.ArticleId }) | @using (Html.BeginForm("DeleteArticle", "Articles", new { id = article.ArticleId }))
    {
        <input type="submit" value="Delete" />
    }</p>
}